$primary: #0487E2 !default;
$secondary: #555 !default;
$danger: #C41837 !default;
$warning: #E8B70F !default;
$success: #35A810 !default;
$dark: #222 !default;
$purple: #6324EC !default;
$light: #F4F6F7 !default;

$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "warning": $warning,
    "success": $success,
    "dark": $dark,
    "purple": $purple,
    "light": $light
);

$btn-hover-colors: (
    "primary": #FFF,
    "secondary": #FFF,
    "danger": #FFF,
    "warning": #000,
    "success": #FFF,
    "dark": #FFF,
    "purple": #FFF,
    "light": #000
);

@each $key, $value in $colors {
    .text-#{$key} {
        color: $value;
    }

    .bg-#{$key} {
        background-color: $value;
    }
}