$base-padding: 0.75rem;
$base-margin: 0.75rem;

$base-border-radius: 1rem;
$base-border-tickness: 1px;

$base-box-shadow: 1px 3px 5px  rgba(0,0,0, 0.1);

$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.25;
$font-size-xl: $base-font-size * 1.75;
$font-size-xxl: $base-font-size * 2.5;