$size: (
  "xs": (
    "padding": 6px 12px,
    "font-size": $font-size-sm,
    "radius": 14px
  ),
  "sm": (
    "padding": 9px 18px,
    "font-size": $font-size-sm,
    "radius": 17px
  ),
  "md": (
    "padding": 10px 20px,
    "font-size": $base-font-size,
    "radius": 23px
  ),
  "lg": (
    "padding": 12px 24px,
    "font-size": $font-size-md,
    "radius": 24px
  ),
  "xl": (
    "padding": 12px 32px,
    "font-size": $font-size-md,
    "radius": 24px
  ),
);

@mixin btn($bg-color: #FFF, $border-color) {
  font-family: 'Inter', sans-serif;
  font-size: .9rem;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: $bg-color;
  border: $base-border-tickness solid $border-color;
  transition: .3s;
  cursor: pointer;
  &:disabled {
    cursor: auto;
    &:hover {
      background-color: $bg-color !important;
    }
  }
}

@each $key,
$value in $colors {

  .btn-solid-#{$key} {
    @include btn($value, $border-color: $value);
    color: map-get($map: $btn-hover-colors, $key: $key);

    &:hover {
      background-color: darken($value, 5%)
    }
  }

  .btn-outline-#{$key} {
    @include btn($border-color: $value);
    color: $value;
    background-color: transparent;

    &:hover {
      background-color: $value;
      color: map-get($map: $btn-hover-colors, $key: $key);
    }
  }

  .btn-ghost-#{$key} {
    @include btn($border-color: #FFF);
    color: $value;

    &:hover {
      background-color: mix($value, #FFF, 10%);
      border-color: mix($value, #FFF, 10%);
    }
  }

  .btn-link-#{$key} {
    @include btn($border-color: #FFF);
    color: $value;
    padding: 0;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 2px;
    }
  }
}

@each $key, $values in $size {
  .btn-#{$key} {
    padding: map-get($map: $values, $key: "padding");
    font-size: map-get($map: $values, $key: "font-size");
    border-radius: map-get($map: $values, $key: "radius");
  }
}

.btn {
  @include btn($border-color: #888);
}