footer.footer {
  background-color: $light;
  font-size: $font-size-sm;
  padding: 2 * $base-padding 0;
  .footer-header {
    font-size: 1.1rem;
    margin-bottom: 1.5 * $base-margin;
    @include md {
      font-size: 1.2rem;
    }
  }
  a {
    display: inline-block;
    color: $dark;
    margin-bottom: 0.5 * $base-margin;
  }
  .footer-social-list {
    display: flex;
    a {
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: $base-margin;
      font-size: $base-font-size;
      border: 1px solid $dark;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include md {
    font-size: .9rem;
    padding:  3 * $base-padding 0;
  }
}

footer.footer-dark {
  background-color: $dark;
  color: #DDD;
  a {
    color: #DDD;
    &:hover {
      color: #FFF;
    }
  }
  .footer-social-list {
    li {
      border-color: #DDD;
    }
  }
}