footer.footer {
  font-size: $font-size-sm;
  padding: 3 * $base-padding 0 4 * $base-padding;
  .footer-header {
    font-size: 1.1rem;
    margin-bottom: 1.5 * $base-margin;
    @include md {
      font-size: 1.2rem;
    }
  }
  a {
    display: inline-block;
    color: $dark;
    margin-bottom: 0.5 * $base-margin;
    transition: .3s;
  }
  .footer-social-list {
    display: flex;
    li {
      width: 44px;
      height: 44px;
      padding: $base-padding;
      margin-right: $base-margin;
      font-size: $base-font-size;
      border: 1px solid $dark;
    }
  }
  @include md {
    font-size: .9rem;
    padding:  3 * $base-padding 0;
  }
}

footer.footer-dark {
  background-color: $dark;
  color: #DDD;
  a {
    color: #DDD;
    &:hover {
      color: #FFF;
      text-decoration: underline;
    }
  }
  .footer-social-list {
    li {
      border-color: #DDD;
    }
  }
}