.navbar {
  width: 100%;
  padding: $base-padding * 1.5 0;
  position: relative;
  z-index: 2;
  box-shadow: $base-box-shadow;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .nav-logo * {
      margin: 0;
      font-size: $font-size-lg;
      font-weight: 700;
      color: #000;
    }

    .nav-toggle {
      display: flex;
      flex-direction: column;
      padding: $base-padding * 0.5;
      gap: 5px;
      cursor: pointer;

      span {
        transition: .2s;
        width: 30px;
        height: 3px;
        background-color: $dark;
      }

      &:hover span {
        background-color: #000;
      }

      @include xs {
        display: flex;
      }

      @include md {
        display: none;
      }
    }

    #nav-menu {
      @include xs {
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        opacity: 0;
        transform-origin: top;
        transform: scaleY(0);
        transition: transform .3s, opacity .4s;
      }

      @include md {
        position: static;
        width: fit-content;
        height: fit-content;
        transform: scaleY(1);
        opacity: 1;
      }

      .nav-list {
        display: flex;

        @include xs {
          max-width: 540px;
          margin: auto;
          flex-direction: column;
          gap: $base-margin;
          padding: $base-padding * 2 $base-padding;
        }

        @include md {
          width: fit-content;
          flex-direction: row;
          gap: $base-margin;
          padding: 0;
          align-items: center;
        }

        li {
          text-transform: capitalize;

          a {
            color: $dark;
            transition: .2s;

            &:hover {
              color: #000;
            }
          }

          .active {
            color: #000;
          }
        }
      }
    }

    .nav-expand {
      @include xs {
        transform: scaleY(1);
        opacity: 1;
      }
    }
  }
}

.navbar-dark {
  background-color: $dark !important;
  color: #FFF;

  .nav-logo a {
    color: #FFF !important;
  }

  .container {
    .nav-toggle {
      span {
        background-color: #AAA !important;
      }

      &:hover span {
        background-color: #fff !important;
      }
    }

    .nav-menu {
      background-color: $dark;

      .nav-list {
        li {
          text-transform: capitalize;

          a {
            color: #AAA !important;

            &:hover {
              color: #FFF !important;
            }
          }

          .active {
            color: #FFF !important;
          }
        }
      }
    }
  }
}

.navbar-primary {
  background-color: $primary !important;
  color: #FFF;

  .nav-logo a {
    color: #FFF !important;
  }

  .container {
    .nav-toggle {
      span {
        background-color: #ddd !important;
      }

      &:hover span {
        background-color: #fff !important;
      }
    }

    .nav-menu {
      background-color: $primary;

      .nav-list {
        li {
          text-transform: capitalize;

          a {
            color: #ddd !important;

            &:hover {
              color: #FFF !important;
            }
          }

          .active {
            color: #FFF !important;
          }
        }
      }
    }
  }
}

.navbar-light {
  background-color: $light !important;

  .nav-menu {
    background-color: $light;

    @include xs {
      box-shadow: $base-box-shadow;
    }

    @include md {
      box-shadow: none;
    }
  }
}

.navbar-mobile {
  width: 100% !important;
  background-color: $light;
  @include xs {
    position: fixed !important;
    bottom: 0px !important;
    padding: $base-padding * 1.25 0 !important;
  }
  .container {
    padding: 0 $base-padding !important;
  }
  .nav-logo {
    @include xs {
      display: none;
    }
    @include md {
      display: block;
    }
  }
  .nav-menu-mobile {
    @include xs {
      width: 100% !important;
    }
    @include md {
      width: auto !important;
    }
  }
  .nav-list-mobile {
    @include xs {
      width: 100% !important;
      display: flex !important;
      justify-content: space-around !important;
    }
    li {
      a {
        color: #333;
        font-size: $font-size-sm;
        display: flex;
        flex-direction: column;
        align-items: center;
        letter-spacing: 1px;
        font-weight: 200;
        .nav-mobile-icon {
          color: #333;
          display: inline;
          font-size: $font-size-lg;
          margin-bottom: 5px;
          @include md {
            display: none;
          }
        }
        @include md {
          font-size: $base-font-size;
          font-weight: normal;
          letter-spacing: normal;
        }
      }
      @include md {
        margin: 0 $base-margin;
      }
      a.active {
        color: #000;
        .nav-mobile-icon {
          color: #000;
        }
      }
    }
  }
  @include md {
    position: static !important;
  }
}
.navbar-mobile-dark {
  background-color: $dark !important;
  a {
    color: #AAA !important;
    .nav-mobile-icon {
      color: #AAA !important;
    }
  }
  a.active {
    color: #FFF !important;
    .nav-mobile-icon {
      color: #FFF !important;
    }
  }
}